.main-header {
  display: none;
    
}

@media screen and (max-width: 1200px) {
  .desktop {
    display: none;
  }
  .main-logo img {
    width: 100px;
    
  }
  
  .main-header {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: black;
    padding: 40px 1.4rem;
    
  }
  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-left: -100%;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: flex;
  }
  .main-nav.show {
    margin-left: 0;
    
  }
  .nav-links {
    background-color: #fafafa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
    height: 0%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
            
  }
  .link-item {
    padding: 20px 0;
    color: #ddb290;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
  }
  .link-item:hover{
    font-weight: 600;
  }
  .link-item::after {
    position: absolute;
    content: "";
    background-color: black;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }
  .link-item:hover::after {
    width: 100%;
    
    
  }
  .button-menu {
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .button-menu span {
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ddb290;
    border-radius: 3px;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }
  .button-menu.close span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(0px, 0px);
            transform: rotate(45deg) translate(0px, 0px);
    background: #ddb290;
  }
  .button-menu.close span:nth-child(2) {
    -webkit-transform: rotate(-45deg) translate(-10px, 5px);
            transform: rotate(-45deg) translate(-10px, 5px);
  }
  .button-menu.close span:nth-child(3) {
    display: none;
  }
  .main-logo {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
        z-index: 100;
  }
  .main-nav {
    margin-top: 80px;
    border-top: 1px solid #2d2929;
    height: 100%;
  }
  .nav-links {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: block;
    background: black;
  }
  .nav-links .active{
    font-weight: 600;
  }
  .link-item {
    display: block;
    margin-right: 2rem;
    text-align: right;
  }
}
/*# sourceMappingURL=media.css.map */