@font-face {
    font-family: 'Big John PRO';
    src: url('BigJohnPRO-Regular.eot');
    src: local('Big John PRO Regular'), local('BigJohnPRO-Regular'),
        url('BigJohnPRO-Regular.eot?#iefix') format('embedded-opentype'),
        url('BigJohnPRO-Regular.woff2') format('woff2'),
        url('BigJohnPRO-Regular.woff') format('woff'),
        url('BigJohnPRO-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Big John PRO';
    src: url('BigJohnPRO-Bold.eot');
    src: local('Big John PRO Bold'), local('BigJohnPRO-Bold'),
        url('BigJohnPRO-Bold.eot?#iefix') format('embedded-opentype'),
        url('BigJohnPRO-Bold.woff2') format('woff2'),
        url('BigJohnPRO-Bold.woff') format('woff'),
        url('BigJohnPRO-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Big John PRO';
    src: url('BigJohnPRO-Light.eot');
    src: local('Big John PRO Light'), local('BigJohnPRO-Light'),
        url('BigJohnPRO-Light.eot?#iefix') format('embedded-opentype'),
        url('BigJohnPRO-Light.woff2') format('woff2'),
        url('BigJohnPRO-Light.woff') format('woff'),
        url('BigJohnPRO-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

